@import '../../sass/shared.scss';

.HomePage {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__title {
			@include title-page;
		}

	&__favourites {
		@include button;

		span {
			color: $color-white;
			font-size: .8rem;
			background-color: $color-red-primary;
			border-radius: 50%;
			padding: 3px 5px;
			margin-left: 5px;
		}
	}
	
	&__loader {
		font-size: large;
		font-weight: bold;
		margin: 20px;
	}

	&__error {
		color: $color-red-primary;
		font-style: italic;
		margin: 20px;
	}
}